ALTER TABLE profiles ADD COLUMN IF NOT EXISTS youtube_api_key TEXT;

CREATE OR REPLACE FUNCTION get_ai_settings()
RETURNS TABLE(provider TEXT, settings JSONB, youtube_key TEXT) AS \$\$
BEGIN
  RETURN QUERY
  SELECT
    p.ai_provider,
    p.ai_settings,
    p.youtube_api_key
  FROM
    public.profiles p
  WHERE
    p.id = auth.uid();
END;
\$\$ LANGUAGE plpgsql SECURITY INVOKER;

CREATE OR REPLACE FUNCTION update_ai_settings(
  new_provider TEXT,
  new_settings JSONB,
  new_youtube_key TEXT DEFAULT NULL
)
RETURNS VOID AS \$\$
BEGIN
  UPDATE public.profiles
  SET
    ai_provider = new_provider,
    ai_settings = new_settings,
    youtube_api_key = COALESCE(new_youtube_key, youtube_api_key)
  WHERE
    id = auth.uid();
END;
\$\$ LANGUAGE plpgsql SECURITY INVOKER;
